.blog {
    text-align: justify;
}

.current {
    color: green;
}

.wrapper {
    width: 920px;
    padding: 50px;
    padding-top: 10px;
    position: relative;
    top: 90px;
}

header {
    width: 300px;
}

section img {
    padding-bottom: 10px;
}

body {
    background-color: rgb(252, 252, 252);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

nav {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 10
}

nav hr {
    margin-bottom: 0px;
}

.navigation {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

nav a {
    font-size: 1.3em;
    margin-right: 30px;
}

.post-image {
    position: relative;
    text-align: center;
    width: 90%;
    padding: 0 5%;
    margin-bottom: 25px;
}

.post-image img {
    width: 100%;
}

.post-image i {    
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, -50%);
}

section p {
    text-align: justify;
}

.showcase {
    width: 90%;
    height: 130px;
    padding: 0 5%;
    overflow: hidden;
    margin-bottom: 15px;
}

.showcase img {
    width: 100%;    
}

@media print, screen and (max-width: 960px) { div.wrapper { width: auto; margin: 0; }
  header, section, footer { float: none; position: static; width: auto; }
  header { padding-right: 320px; }
  section { border: 1px solid #e5e5e5; border-width: 1px 0; padding: 20px 0; margin: 0 0 20px; }
  header a small { display: inline; }
  header ul { position: absolute; right: 50px; top: 52px; } }
@media print, screen and (max-width: 720px) { body { word-wrap: break-word; }
  header { padding: 0; }
  header ul, header p.view { position: static; }
  pre, code { word-wrap: normal; } }
@media print, screen and (max-width: 480px) { .wrapper { padding: 25px; }
  header ul { width: 99%; }
  header li, header ul li + li + li { width: 33%; } }
@media print { body { padding: 0.4in; font-size: 12pt; color: #444; } }
